package users

import (
	"context"
	"lichess-arena/internal/ui"
	"net/http"
)

templ home(test string) {
	@ui.Base() {
		<div class="container">
			<h1 class="title">{test}</h1>
		</div>
	}
}

func (s Service) homePage(w http.ResponseWriter, r *http.Request) {
    test := s.session.GetString(r.Context(), "test")
	home(test).Render(context.Background(), w)
}
